.body-container {
    display:flex;
    flex-direction: column;
    flex:1;
    margin: 0;
    width:100%;
    padding: 0;
}
div.column-container {
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1;
   /* border: 5px solid green;*/
    padding: 0;
    margin: 0;
}
.navigation-container {
    text-decoration: none;
    color:white;
    width:100%;
    min-width:25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*border: 5px solid red;*/
    flex: 1 0 auto;
    justify-content: center;
    align-self:center;
    align-content:center;
    align-items:center;
    gap:10px;
    margin:0;
    padding:0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content-container {
    /*border: 5px solid blue;*/
    display: flex;
    width: 100%;
    height:auto;
    flex-direction:row;
    flex:1 0 auto;
    flex-wrap: wrap;
    align-content:center;
    align-items: center;
    align-self: center;
    justify-content:  center;
    align-self: center;
    gap: 10px;
}

.navigation-container,
.content-container {
    background-color: darkslateblue;
}
.left-content, .right-content {
   /*border: 5px solid sienna;*/
    width:300px;
    display: flex;
    flex-direction: column;
    flex: 0;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    padding: 10%;
    margin:0;
    gap:0;
    color: white;

}

.left-content .left-child-one,
.left-content .left-child-two,
.left-content .left-child-three {
    /*border: 1px solid purple;*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    width: 300px;

}
.left-content .left-child-one {
    flex: 1 0 auto;
    font-size: 35px;
    padding: 5px;
}
.left-content .left-child-two {
    font-size: 11px;
}
.left-content .left-child-three {
    justify-content: center;
    align-self: flex-start;
    padding: 5px 5px;
}
.left-content .left-child-three button {
    color: white;
    background-color: darkorchid;
    padding: 0;
    font-size:16px;
    width:100px;
    height:40px;
    border-radius: 5px;
}
.right-content img {
    width:350px;
    height:auto;
}
.right-content {
    background-color: grey;
    height:10%;
    margin: 100px;
    height:100px;
    width: auto;
}
.content-container-two {
    /*border: 5px solid yellow;*/
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-self: space-around;
    align-items: center;
    align-content: space-around;
    margin:3%;
}
.content-title {
    font-size:30px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.quote-container {
   /* border: 5px solid orange;*/
    width:100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-self: center;
    align-items:center;
    align-content:center;
    justify-content: center;
    gap: 0;
    padding: 0;
    padding-top: 50px;
    background-color: grey;
    color:black;
    font-family:'Courier New', Courier, monospace;
}

.quote-box,
.signature-box{
   /* border: 5px solid bisque;*/
    display: flex;
    width:50%;
    align-self:center;
    align-content:center;
    justify-content: center;
    flex-direction: column;
    flex: 0;
    text-align: left;
    margin:0;
    padding:25px;
    gap:10px;
}
.quote-box {
    font-size:34px;
    font-style:italic;
    align-content: center;
    align-self: center;
    justify-content: center;
    margin-top:50px;
}
.signature-box {
    justify-content: flex-end;
    align-items: flex-end;
    height:auto;
    margin-bottom: 50px;
}

.inside-container {
    height:auto;
    width: 65%;
    /*border: 5px solid pink;*/
    display: flex;
    flex-direction: row;
    flex:1 1 0;
    justify-content: center;
    gap:50px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.content-title {
    padding: 20px;
}
.content-box-one,
.content-box-two,
.content-box-three,
.content-box-four {
    display: flex;
    width: 100px;
    height: 100px;
    flex: 0 0 1;
    gap: 10px;
    justify-content: space-around;
    align-items: flex-end;
    align-self: center;
    align-content: center;
    flex-direction: column;
    border:1px solid black;
    border-radius: 5px;
    flex-wrap:wrap;
}
.box-inside-top,
.box-inside-bottom {
    display: flex;
    width: 75px;
    height: auto;
    flex: 0;
    flex-direction: column;
    /*border: 6px solid red;*/
    flex-wrap: wrap;
}
.box-inside-bottom {
    /*border: 2px solid blue;*/
    padding-top:100px;
    padding-bottom:50px;
}
.box-inside-bottom p {
    font-size:11px;
    text-align: center;
    padding-top:100px; 

}
.sign-up-container {
    /*border: 5px solid hotpink;*/
    display: flex;
    flex-direction:row;
    flex: 1 2 auto;
    justify-content: center;
    align-content:center;
    align-self:center;
    align-items:center;
    margin:65px;
    padding:15px 40px;
    gap:25px;
    background-color: darkorchid;
    border-radius:10px;
    height:150px;
}
.sign-up-message,
.sign-up-button { /* FOR BOTTOM PAGE SIGN UP MESSAGE */
    /*border:5px solid black;*/
    display:flex;
    width:50%;
    min-width:40%;
    max-width:50%;
    height:50px;
    display:flex;
    justify-content: center;
    align-content:center;
    align-self:center;
    align-items:center;
    flex-direction:column;
    flex:1 0 1;
    margin:0;
    padding: 0;
    gap:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.sign-up-message h3,
.sign-up-message p {
    display:flex;
    flex: 1 0 auto;
    margin:0;
    padding:0;
    min-height: 10px;
    gap:0;
    align-content:flex-start;
    align-self:flex-start;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
    /*border:5px solid red;*/
    color: white;
}
.sign-up-button button {
    width: 130px;
    height:30px;
    align-self:flex-end;
    background-color: darkorchid;
    border:3px solid white;
    color: white;
    border-radius: 10px;
    justify-content: center;
    flex-basis: 1;
}
.rightnavbar,
.leftnavbar {
    flex: 1 1 1;
    padding: 5px 25px;
}
.rightnavbar {
    display:flex;
    flex-direction: row;
    /*border: 1px solid brown;*/
    justify-content: flex-end;
    align-content: space-between;
    align-self: center;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
}
.leftnavbar {
    /*border:1px solid brown;*/
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-between;
    align-self: center;
    /*border: 1px solid brown;*/
}
.footer-container {
    display:flex;
    flex:0;
    height:auto;
    width:100%;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    padding:30px 0px;
    /*border: 3px solid purple;*/
    background-color: darkslateblue;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
